In [10]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

#### Scrape the table of countries populations and put it in a pandas DataFrame.

In [13]:
url = 'https://www.worldometers.info/world-population/population-by-country/'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

#### First, let's check what columns does the table have.

In [14]:
column_names = []
for table_header in soup.find_all('th'):
    column_names.append(table_header.text)

In [15]:
column_names

['#',
 'Country (or dependency)',
 'Population (2020)',
 'Yearly Change',
 'Net Change',
 'Density (P/Km²)',
 'Land Area (Km²)',
 'Migrants (net)',
 'Fert. Rate',
 'Med. Age',
 'Urban Pop %',
 'World Share']

#### Create lists for column values that we will later create a dataframe from.

In [16]:
country = []
population = []
yearly_pop_change_pct = []
yearly_pop_change_net = []
density = []
land_area = []
migrants_net = []
fertility_rate = []
median_age = []
urban_pop_pct = []
world_pop_share_pct = []

In [17]:
for i in range(0, len(soup.find_all('td')), 12):
    
    country.append(soup.find_all('td')[i+1].text)
    population.append(soup.find_all('td')[i+2].text)
    yearly_pop_change_pct.append(soup.find_all('td')[i+3].text)
    yearly_pop_change_net.append(soup.find_all('td')[i+4].text)
    density.append(soup.find_all('td')[i+5].text)
    land_area.append(soup.find_all('td')[i+6].text)
    migrants_net.append(soup.find_all('td')[i+7].text)
    fertility_rate.append(soup.find_all('td')[i+8].text)
    median_age.append(soup.find_all('td')[i+9].text)
    urban_pop_pct.append(soup.find_all('td')[i+10].text)
    world_pop_share_pct.append(soup.find_all('td')[i+11].text)

In [18]:
df_countries = pd.DataFrame()
df_countries['country'] = country
df_countries['population'] = population
df_countries['yearly_pop_change_pct'] = yearly_pop_change_pct
df_countries['yearly_pop_change_net'] = yearly_pop_change_net
df_countries['density'] = density
df_countries['land_area'] = land_area
df_countries['migrants_net'] = migrants_net
df_countries['fertility_rate'] = fertility_rate
df_countries['median_age'] = median_age
df_countries['urban_pop_pct'] = urban_pop_pct
df_countries['world_pop_share_pct'] = world_pop_share_pct

In [19]:
df_countries

,country,population,yearly_pop_change_pct,yearly_pop_change_net,density,land_area,migrants_net,fertility_rate,median_age,urban_pop_pct,world_pop_share_pct
0,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47 %
1,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70 %
2,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25 %
3,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51 %
4,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,"4,992",0.06 %,3,50,100,,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,"3,480",3.05 %,103,0,"12,170",,N.A.,N.A.,66 %,0.00 %
232,Niue,"1,626",0.68 %,11,6,260,,N.A.,N.A.,46 %,0.00 %
233,Tokelau,"1,357",1.27 %,17,136,10,,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,"2,003",0,,N.A.,N.A.,N.A.,0.00 %

#### Clean data and save it to csv file.

In [20]:
df_countries = df_countries.replace('N.A.', np.nan)

cols_with_commas = ['population', 'yearly_pop_change_net', 'density', 'land_area', 'migrants_net']
cols_with_percentage = ['yearly_pop_change_pct', 'urban_pop_pct', 'world_pop_share_pct']

for col in cols_with_commas:
    df_countries[col] = df_countries[col].str.replace(',', '')
    
for col in cols_with_percentage:
    df_countries[col] = df_countries[col].str.replace(' %', '')

In [23]:
df_countries.to_csv('countries.csv', index=False)